<!DOCTYPE html>
<html>
    <head>
        <title> Comments </title>
        <meta charset='utf-8'>
    </head>
    <body>
        <h2>{{ r.name }}的評價</h2>
        {% if r.comment_set.all %}
            <p>目前共有{{ r.comment_set.all|length }}條評價</p>
            <table>
                <tr>
                    <th>留言者</th>
                    <th>時間</th>
                    <th>評價</th>
                </tr>
            {% for c in r.comment_set.all %}
                <tr>
                    <td> {{ c.user }} </td>
                    <td> {{ c.date_time | date:"F j, Y" }} </td>
                    <td> {{ c.content }} </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p style="color:darkgreen;">無評價</p>
        {% endif %}

        {% if f.errors %}
            <p style="color:darkblue;">
                Please correct the error{{ f.errors|pluralize }} below.
            </p>

        {% endif %}



        <form action="" method="post">
            <!--  {{ f.as_table }}  f在 views.py 裏定義為 commentform 的變數 呼叫commentform as_table -->
            <table>
                <tr>
                    <th> <label for="id_user">留言者:</label> </th>
                    <td> {{ f.user  }} </td>
                    <td> {{ f.user.errors }} </td>
                </tr>
                <tr>
                    <th> <label for="id_email">電子信箱:</label> </th>
                    <td> {{ f.email }} </td>
                    <td> {{ f.email.errors }} </td>
                </tr>
                <tr>
                    <th> <label for="id_content">評價:</label> </th>
                    <td> {{ f.content }} </td>
                    <td> {{ f.content.errors }} </td>
                </tr>
            </table>
            <input type="hidden" name="ok" value="yes">
            <input type="submit" value="給予評價">
        </form>
    </body>
</html>