<!DOCTYPE html>
<html>
    <head>
        <title> Login la </title>
        <meta charset='utf-8'>
    </head>
    <body>
    <h1>Log in Page</h1>>
        <form action="" method="post">
            <label for="username">用戶名稱:</label>
            <input type="text" name="username" value="" id="username"> <br />
            <label for="password">用戶密碼:</label>
            <input type="password" name="password" value="" id="password"> <br />
            <input type="submit" value="登入" />
        </form>
    </body>
</html>